<%= link_to("<< Voltar", reports_path, :class => 'back-link') %>

<div>
  <h3>Adquirir Relatório: <%= @report.name %></h3>

  <div class="form-group row">
    <div class="col-2">
      <label>Descrição:</label>
      <h5><%= @report.description %></h5>
    </div>
  </div>

  <%= form_for(@report) do |f| %>

    <div class="form-group row">
      <div class="col-2">
        <label>Nome</label>
        <%= f.text_field :name, placeholder: 'Entre com o nome', style: 'width: 100%;' %>
      </div>

      <div class="col-8">
        <label>Resumo</label>
        <%= f.text_field :short_description, placeholder: 'Entre com o resumo', style: 'width: 100%;' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-1">
        <label>Temporal</label>
        <%= f.select(:temporal, options_for_enum(@report, :temporal)) %>
      </div>

      <div class="col-1">
        <label>Geográfico</label>
        <%= f.select(:geographic, options_for_enum(@report, :geographic)) %>
      </div>

      <div class="col-1">
        <label>Preço Base</label>
        <%= f.number_field :base_price, value: number_to_currency(f.object.base_price.to_f, delimiter: '', unit: ''), step: 0.5 %>
      </div>

    </div>

    <div class="form-group row">
      <div class="col-10">
        <label>Descrição</label>
        <%= f.text_area :description, cols: 200, rows: 5, style: 'width: 100%;',
                        placeholder: 'Entre com a descrição' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-2">
        <label>Arquivo Exemplo</label>
        <td><%= f.file_field :sample_file, accept: 'text/csv' %></td>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-2">
        <%= f.submit 'Criar Relatório', class: 'btn btn-success' %>
      </div>
    </div>

  <% end %>
</div>
