<div class="reports index">
  <h2>Relatórios</h2>

  <%= link_to("Adicionar novo relatório", new_report_path, :class => 'action new') %>

  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Resumo</th>
        <th>Temporal</th>
        <th>Geográfico</th>
        <th>Dt. Criação</th>
        <th>Últ. Atualização</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @reports.each do |report| %>
        <tr>
          <td><%= report.name %></td>
          <td><%= report.short_description %></td>
          <td><%= report.temporal %></td>
          <td><%= report.geographic %></td>
          <td><%= report.created_at.to_formatted_s(:db) %></td>
          <td><%= report.updated_at.to_formatted_s(:db) %></td>
          <td class="actions">
            <%= link_to fa_icon("eye"), report_path(report), title: 'Mostrar' %>
            <%= link_to fa_icon("edit"), edit_report_path(report), title: 'Editar' %>
            <%= link_to fa_icon("trash"), report_path(report), method: :delete, title: 'Excluir',
                        data: {confirm: "Tem certeza que deseja excluir o relatório '#{report.name}'?"} %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
