<%= link_to("<< Voltar", reports_path, :class => 'back-link') %>

<div class="reports show">
  <h2>Dados Relatório</h2>

  <table summary="Report detail view">
    <tr>
      <th>Nome</th>
      <td><%= @report.name %></td>
    </tr>
    <tr>
      <th>Resumo</th>
      <td><%= @report.short_description %></td>
    </tr>
    <tr>
      <th>Temporal</th>
      <td><%= translate_enum_value(@report, :temporal) %></td>
    </tr>
    <tr>
      <th>Geográfico</th>
      <td><%= translate_enum_value(@report, :geographic) %></td>
    </tr>
    <tr>
      <th>Descrição</th>
      <td><%= @report.description %></td>
    </tr>
    <% if @report.sample_file.attached? %>
      <tr>
        <th>Arquivo de Exemplo</th>
        <td><%= @report.sample_file.blob.filename %></td>
      </tr>
    <% end %>
    <tr>
      <th>Criação</th>
      <td><%= @report.created_at.to_formatted_s(:long) %></td>
    </tr>
    <tr>
      <th>Atualização</th>
      <td><%= @report.updated_at.to_formatted_s(:long) %></td>
    </tr>
  </table>

</div>
